<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GuestBook</title>
  </head>
  <body>
    <h2>Min about-sida</h2>
    <div>
      <p>Namn :</p>
      <input type="text" name="namn" />
      <p>Email :</p>
      <input type="email" name="email" />
      <p>Hemsida</p>
      <input type="text" name="hemsida" />
      <p>Telefon</p>
      <input type="text" name="telefon" />
      <p>kommentar</p>
      <input type="textAres" name="kommentar" />
    </div>
    <div></div>
  </body>
</html>
